@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
  font-family:monospace;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100vw;
  padding-top: 1rem;
  border-bottom: 5px solid black;
  background-color: azure;
  z-index: 1;
}

#Add {
  margin-top: 20vh;
  padding: 10vh 3rem;
  justify-content: center;
  left: 1%;
  flex-direction: row;
  position: fixed;
  color: rgb(84, 84, 84);
  border: solid 5px black;
  border-radius: 2rem;
  background-color: wheat;
}

#Add label {
  font-size: 1.5rem;
}

input, textarea {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 20%; */
  gap: 0.5rem;
  margin: 1rem 0;
}

#submit {
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

#submit:active {
  background-color: rgb(255, 255, 255);
  color: green;
}

h1 {
  /* border-bottom: 3px solid black; */
  padding-bottom: 1rem;
  font-size: 3rem;
}

#messageBoard {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  position: absolute;
  border-radius: 2rem;
  padding: 0 1em;
  left: 20%
}

.guestDiv {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
  align-items: center;
}

.date {
  font-size: 2rem;
}
.date::after {
  content: ' - ';
}
.guestDiv h3 {
  font-size: 2.5rem;
  /* color: rgb(94, 102, 147); */
}

.guestDiv h3::after {
  font-size: 1.5rem;
  content: ":";
}

.message {
  font-size: 2rem;
  font-family: 'Delicious Handrawn', cursive;
  font-weight: 400;
  color: rgb(109, 109, 109);
}

.likesTxt {
  font-size: 1.5rem;
}

.likesTxt::after{
  content: "👍|";
}

.likeBtn {
  background-color: green;
  padding: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.likeBtn:active {
  background-color: white;
}

.delBtn {
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.delBtn:active {
  background-color: red;
}

@media only screen and (min-width: 2560px) {
  * {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 2rem;
  }
  #Add label {
    font-size: 2rem;
  }
  #messageBoard {
    left: 30%;
  }
  input, textarea {
    font-size: 1.5rem;
  }
  #submit {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  * {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 2rem;
  }
  #Add label {
    font-size: 2rem;
  }
  #Add {
    padding: 7vh 3rem;
    border: 4px solid black;
  }
  #messageBoard {
    left: 30%;
  }
  input, textarea {
    font-size: 1.15rem;
  }
  #submit {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  * {
    font-size: 0.57rem;
  }
  #messageBoard {
    left: 30%;
  }
  h2 {
    font-size: 2rem;
  }
  #Add {
    padding: 10vh 2rem;
    border: 3px solid black;
  }
  #Add label {
    font-size: 2rem;
  }
  #messageBoard {
    left: 30%;
  }
  input, textarea {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 0.4rem;
  }
  h1 {
    font-size: 5rem;
  }
  #messageBoard {
    margin-top: 10rem;
    left: 28%;
    font-size: 2rem;
  }
  .likeBtn, .delBtn {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 3rem;
  }
  #Add {
    padding: 5vh 1rem;
    border: 2px solid black;
  }
  #Add label {
    font-size: 3rem;
  }
  input, textarea {
    font-size: 1.5rem;
  }
  #submit {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  header {
    width: 100%;
  }
  #Add {
    bottom: 0%;
    width: 100%;
    left: 0;
    padding: 0;
  }
  form {
    display: flex;
  }
  #messageBoard {
    left: 1%;
    top: 3rem;
  }
  .guestDiv {
    gap: 0.5rem;
  }
  .date{
    font-size: 1.5rem;
  }
  .guestDiv h3 {
    font-size: 2rem;
  }
}